services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres_password
      POSTGRES_DB: stagecraft_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  api:
    build:
      context: ./server
      dockerfile: Dockerfile
    volumes:
      - /app/node_modules
      
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      PGUSER: postgres
      PGPASSWORD: postgres_password
      PGHOST: postgres
      PGDATABASE: stagecraft_db
      PGPORT: 5432
      DATABASE_SSL: false
      NODE_ENV: development
    depends_on:
      - postgres
      - redis
    ports: 
      - "3000:3000"

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    volumes:
      - /app/node_modules
      - ./client:/app
    depends_on:
      - api
    ports: 
      - "5173:80"


volumes:
  pgdata:
